:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.highlight-one {
  color: var(--navy-blue);
}

.highlight-two {
  color: var(--cloud);
}

.list-items {
  text-decoration: none;
  list-style: none;
}

list-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
}

.list-item:hover {
  color: var(--ocean);
}

.list-item:visited {
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

.contact {
  font-style: normal;
  list-style: none;
}

.mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
}

.contact-list {
  list-style: none;
}

.contact a:hover {
  color: var(--ocean);
}

.contact a:focus {
  color: var(--ocean);
}
.first-section {
  background-color: var(--navy-blue);
}
.first-section-header {
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.first-section-button {
  color: var(--white);
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.first-section-button:hover {
  background-color: var(--ocean);
}

.first-section-button:focus {
  background-color: var(--ocean);
}

.second-section-list {
  list-style: none;
}
.first-section-header {
  color: var(--white);
}

.second-section-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue));
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.third-section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.third-section-list {
  list-style: none;
}

.fourth-section {
  background-color: var(--cloud);
}
.fourth-section-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.fourth-section-list {
  list-style: none;
}

.fourth-section-list-item {
  background-color: var(--white);
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.page-footer {
  background-color: var(--navy-blue);
}
.page-footer-description {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.portfolio-button {
  color: var(--iris);
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-button:hover {
  background-color: var(--ocean);
  color: var(--white);
}
.portfolio-button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.portfolio-list-items {
  list-style: none;
}
.images-list {
  list-style: none;
}
.images-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.image-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.images-link {
  text-decoration: none;
}

.list {
  list-style: none;
}
