:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.highlight {
  color: var(--navy-blue);
}

.list {
  list-style: none;
}
.list-item {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list-item:hover {
  color: #404bbf;
}

.list-item:visited {
  color: #404bbf;
}

.contact-list a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contact-list {
  list-style: none;
}
.contact-list a:hover {
  color: #404bbf;
}

.contact-list a:focus {
  color: #404bbf;
}

.contact-list a {
  text-decoration: none;
}
.first-section {
  background-color: var(--navy-blue);
}
.header-one {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.first-section-button {
  background-color: var(--iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}
.first-section-button:hover {
  background-color: #404bbf;
}

.first-section-button:focus {
  background-color: #404bbf;
}

.third-header {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-two {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-four {
  background-color: #f4f4fd;
}

.section-four-item {
  background-color: #ffffff;
}

.name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.job-position {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: var(--navy-blue);
}
.page-footer-description {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}
